@{
    ViewBag.Title = "About";
}
   
<div class="About" style="background-color: #ffffff!important;">
    <br />
    <div class="col s12 breadcrumb-wrapper" style="padding-top: 2px;padding-bottom: 9px;">
        <a href="~/Home/Index" class="breadcrumb">Home</a>
        <svg width="16" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="breadcrumb-delim">
            <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"></path>
        </svg>
        <a class="breadcrumb" href="~/Home/About">About Us</a>
    </div>
    <br />
    
    <div class="container" style="align-content:center;">
        <br />
        <div class="row" style="background-color: #ffecf0 !important; font-family: 'Calisto MT'; align-content: center !important; ">
            <h1 style="text-align:center;padding:10px;">WE BAKE MEMORIES, YOUR MEMORIES</h1>
        </div>
        <br />
        <div class="row" style="align-content:safe center">
            <div class="col-sm-4">
                <div class="About_img" style="align-content:center">
                    <img style="height:300px; width:390px;" src="~/Content/img/about-us/AboutBhavnas.jpg" />
                </div>
            </div>
            <div class="col-sm-8" style="padding-left: 34px; align-content: center; border: 1px !important; background-color: #ffecf0 !important; border-radius: 20px;">
                <p style="text-align: justify; font-style: italic; font-size: 20px; text-align: center; color: #ed217c;font-weight:800!important;">"आपला वाढदिवस बनवा अतिशय special आमच्या केक सोबत.......उपलब्ध ...अकोट...हिवरखेड ... सोनाळा...तेल्हारा....दहीहांडा......" </p>
                <p style="text-align: justify; font-size: 20px; text-align:left,justify; color:black;">
                    This is a place where you get a wide
                    choice of rich delicious cakes & pastries
                    for all occasion.We, Bhavna's Cake,
                    situated at Akot, Akola, Maharashtra,
                    aim to serve the most creative and
                    mouth-watering, to help
                    celebrate your events in a special way!
                    Pick a desing you like, and then choose
                    from delectable flavours. You can then
                    sit back and relax and expect a wonderful
                    cake to arrive at your desired location,
                    on your chosen date and time.
                </p>
            </div>
        </div>
        <div class="heading" style="align-content:center !important;font-size:30px;color:black;font-family:'Calisto MT'">OUR THEMES</div>
        <div class="row">
            <div class="col-sm-3">
                <img style="border: 2px; border-block-color: #ffecf0; height: 250px; width: 250px;" src="~/Content/img/about-us/About theme1.jpg" />
            </div>
            <div class="col-sm-3">
                <img style="border: 2px; border-block-color: #ffecf0; height: 250px; width: 250px;" src="~/Content/img/about-us/About theme2.jpg" />
            </div>
            <div class="col-sm-3">
                <img style="border: 2px; border-block-color: #ffecf0; height: 250px; width: 250px;" src="~/Content/img/about-us/About theme3.jpg" />
            </div>
            <div class="col-sm-3">
                <img style="border: 2px; border-block-color: #ffecf0; height: 250px; width: 250px;" src="~/Content/img/about-us/About theme4.jpg" />
            </div>
        </div>
        <div class="row" style="background-color:hotpink;align-content:center !important;font-size:15px;color:black">
            <p style="padding-left:20px;">🕻 - 098236 07753 | ✉- info@bhavnascake.com</p>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>


