
@{
    ViewBag.Title = "Dashbord";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}



<h2 style="text-align:center;">Welcome To Dashboard</h2>
<br />
<br />
<div style="padding: 100px 100px 250px">
    
    <div class="dashboard-container justify-content-center" style="padding-left:50px!important;background-color:lavender !important;border-radius:10px;">
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3 col-6">
                <a href="~/Product/AddProduct" id="button1">

                    <input id="button1" type="button" value="Add Product" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey; color: white; border: 1px solid dimgrey !important;" />

                </a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="~/Product/AddCategory" id="button1">
                    <input id="button1" type="button" value="Add Category" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey; color: white; border: 1px solid dimgrey !important;" />
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="~/Login/Index" id="button1">
                    <input id="button1" type="button" value="Login" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey; color: white; border: 1px solid dimgrey !important;" />
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="~/Booking/Index" id="button1">
                    <input id="button1" type="button" value="Bookings" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey; color: white; border: 1px solid dimgrey !important;" />
                </a>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3 col-6">
                <a href="~/Feedback/Index" id="button1">

                    <input id="button1" type="button" value="Feedbacks" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey;color:white;border:1px solid dimgrey !important;" />

                </a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="~/Home/ContactAdmin" id="button1">
                    <input id="button1" type="button" value="Contact" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey; color: white; border: 1px solid dimgrey !important;" />
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="~/Customer/CustomerEvents" id="button1">
                    <input id="button1" type="button" value="Customer Events" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey; color: white; border: 1px solid dimgrey !important;" />
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="~/Product/AdminProductList" id="button1">
                    <input id="button1" type="button" value="All Products" class="btn-block py-3 px-5" onclick="button1" style="height: 70px; width: 80%; background-color: dimgrey; color: white; border: 1px solid dimgrey !important;" />
                </a>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
