<!DOCTYPE html>
<html lang="en-US">

<head>
    @*<meta charset="utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <link rel="preload" href="~/Content/coreast/constant/font/roboto/roboto-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/Content/coreast/constant/font/roboto/roboto-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <title>Bhavna's Cakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="mask-icon" href="~/Content/img/newlogo/svgtopng-full-cp.png" color="#dc0013">
    <link rel="apple-touch-icon" href="~/Content/coreast/constant/icon/v1/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/newlogo/Domain icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/coreast/constant/icon/v1/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/coreast/constant/icon/v1/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/coreast/constant/icon/v1/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/coreast/constant/icon/v1/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/coreast/constant/icon/v1/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/coreast/constant/icon/v1/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/coreast/constant/icon/v1/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/coreast/constant/icon/v1/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/coreast/constant/icon/v1/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/coreast/constant/icon/v1/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/coreast/constant/icon/v1/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/coreast/constant/icon/v1/favicon-16x16.png">



    <meta name="robots" content="noodp" />

    <meta property="fb:app_id" content="262562007188964" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="#1 online Cake, Flowers and Gifts Delivery in India | Bhavnas Cake">
    <meta property="og:site_name" content="Bhavna's'">
    <meta property="og:image" content="//Content/img/newlogo/logo-test-36-CL-1.png">
    <meta name="twitter:image" content="//Content/img/newlogo/logo-test-36-CL-1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="BhavnasGifts">
    <meta name="twitter:title" content="#1 online Cake, Cakes Delivery in India | Bhavnas Cake">
    <meta name="twitter:description" content="Bhavnas Cake provides best online cake, flowers and gifts delivery services across 750+ cities in india. Order now to get best discounts on fresh cake, gifts and flowers with same day delivery, midnight delivery, fixed time delivery options.">

    <link rel="preload" href="~/Content/coreast/constant/css/vnd/slick-1.8.1.min.css" as="style" onload="this.rel = 'stylesheet'" />
    <link href="~/Content/coreast/constant/css/vnd/materialize-1.0.0.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/thor/common-da28f724ed3c58b5c61e81afb04f8cb8.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/css/aos.css">


    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/thor/common-da28f724ed3c58b5c61e81afb04f8cb8.css" rel="stylesheet" />
    <link href="~/Content/assets/css/thor/common-mobile-f29733dd0dfea4af5407c6c5e8a24361.css" rel="stylesheet" />
    <link href="~/Content/assets/css/thor/product-603062946afbbaa00a8591f6af570fb3.css" rel="stylesheet" />

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MT9R5X3');
    </script>

    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MT9R5X3"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <script>
        (window.BOOMR_mq = window.BOOMR_mq || []).push(["addVar", {
            "rua.upush": "false",
            "rua.cpush": "false",
            "rua.upre": "false",
            "rua.cpre": "true",
            "rua.uprl": "false",
            "rua.cprl": "false",
            "rua.cprf": "false",
            "rua.trans": "SJ-cacda53e-b827-470d-9891-1ebfa48e6a66",
            "rua.cook": "true",
            "rua.ims": "false",
            "rua.ufprl": "false",
            "rua.cfprl": "true",
            "rua.isuxp": "false",
            "rua.texp": "norulematch"
        }]);
    </script>
    <script>
        ! function (e) {
            var n = "https://s.go-mpulse.net/boomerang/";
            if ("False" == "True") e.BOOMR_config = e.BOOMR_config || {}, e.BOOMR_config.PageParams = e.BOOMR_config.PageParams || {}, e.BOOMR_config.PageParams.pci = !0, n = "https://s2.go-mpulse.net/boomerang/";
            if (window.BOOMR_API_key = "JY55S-FSH33-8QWXK-GLTX2-WSVUZ", function () {
                function e() {
                    if (!o) {
                        var e = document.createElement("script");
                        e.id = "boomr-scr-as", e.src = window.BOOMR.url, e.async = !0, i.parentNode.appendChild(e), o = !0
                    }
                }

                function t(e) {
                    o = !0;
                    var n, t, a, r, d = document,
                        O = window;
                    if (window.BOOMR.snippetMethod = e ? "if" : "i", t = function (e, n) {
                        var t = d.createElement("script");
                        t.id = n || "boomr-if-as", t.src = window.BOOMR.url, BOOMR_lstart = (new Date).getTime(), e = e || d.body, e.appendChild(t)
                    }, !window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]\./)) return window.BOOMR.snippetMethod = "s", void t(i.parentNode, "boomr-async");
                    a = document.createElement("IFRAME"), a.src = "about:blank", a.title = "", a.role = "presentation", a.loading = "eager", r = (a.frameElement || a).style, r.width = 0, r.height = 0, r.border = 0, r.display = "none", i.parentNode.appendChild(a);
                    try {
                        O = a.contentWindow, d = O.document.open()
                    } catch (_) {
                        n = document.domain, a.src = "javascript:var d=document.open();d.domain='" + n + "';void(0);", O = a.contentWindow, d = O.document.open()
                    }
                    if (n) d._boomrl = function () {
                        this.domain = n, t()
                    }, d.write("<bo" + "dy onload='document._boomrl();'>");
                    else if (O._boomrl = function () {
                        t()
                    }, O.addEventListener) O.addEventListener("load", O._boomrl, !1);
                    else if (O.attachEvent) O.attachEvent("onload", O._boomrl);
                    d.close()
                }

                function a(e) {
                    window.BOOMR_onload = e && e.timeStamp || (new Date).getTime()
                }
                if (!window.BOOMR || !window.BOOMR.version && !window.BOOMR.snippetExecuted) {
                    window.BOOMR = window.BOOMR || {}, window.BOOMR.snippetStart = (new Date).getTime(), window.BOOMR.snippetExecuted = !0, window.BOOMR.snippetVersion = 12, window.BOOMR.url = n + "JY55S-FSH33-8QWXK-GLTX2-WSVUZ";
                    var i = document.currentScript || document.getElementsByTagName("script")[0],
                        o = !1,
                        r = document.createElement("link");
                    if (r.relList && "function" == typeof r.relList.supports && r.relList.supports("preload") && "as" in r) window.BOOMR.snippetMethod = "p", r.href = window.BOOMR.url, r.rel = "preload", r.as = "script", r.addEventListener("load", e), r.addEventListener("error", function () {
                        t(!0)
                    }), setTimeout(function () {
                        if (!o) t(!0)
                    }, 3e3), BOOMR_lstart = (new Date).getTime(), i.parentNode.appendChild(r);
                    else t(!1);
                    if (window.addEventListener) window.addEventListener("load", a, !1);
                    else if (window.attachEvent) window.attachEvent("onload", a)
                }
            }(), "".length > 0)
                if (e && "performance" in e && e.performance && "function" == typeof e.performance.setResourceTimingBufferSize) e.performance.setResourceTimingBufferSize();
            ! function () {
                if (BOOMR = e.BOOMR || {}, BOOMR.plugins = BOOMR.plugins || {}, !BOOMR.plugins.AK) {
                    var n = "true" == "true" ? 1 : 0,
                        t = "cookiepresent",
                        a = "tt3qddaxgd2cqys2ppeq-f-ff5e72b89-clientnsv4-s.akamaihd.net",
                        i = "false" == "true" ? 2 : 1,
                        o = {
                            "ak.v": "32",
                            "ak.cp": "1209756",
                            "ak.ai": parseInt("723849", 10),
                            "ak.ol": "0",
                            "ak.cr": 100,
                            "ak.ipv": 4,
                            "ak.proto": "h2",
                            "ak.rid": "21980a4f",
                            "ak.r": 37094,
                            "ak.a2": n,
                            "ak.m": "dsca",
                            "ak.n": "essl",
                            "ak.bpcip": "156.247.1.0",
                            "ak.cport": 25724,
                            "ak.gh": "23.48.244.36",
                            "ak.quicv": "",
                            "ak.tlsv": "tls1.3",
                            "ak.0rtt": "",
                            "ak.csrc": "-",
                            "ak.acc": "",
                            "ak.t": "1650097097",
                            "ak.ak": "hOBiQwZUYzCg5VSAfCLimQ==hEyG3FA0j1vxbr3fLQIYbLNPK3b6WOZjkz0uthuQRzZB7vv0/oMoJDS0+Ft4dJDOJs6hfg2GyY7e0e8wpiXYLH58qSvOCb1mfFH0ZfTkvPQJv5n+4/JlGzGrNdpo+wy5NDGJxj8CgSkd6joLTb3qox2diRqAbSBdrCl6MIBEzBqVvPUT++l48PW2dJRtP9ghU84USmuvVRNcahOwxO5Mv04Jx/f9/DA/J7LOdvBHnb5VoXwggkb0a72b19r6iM7pAalY+RwdgQ9AfXcWenoYtjPjayigEs9Tq5gY7W+3SmPS2H8ohcAlRYtBPJ7ZMjSk49rVd23V8EbPyO/ePf8xoUWNBikMdC8qSaYn4BooQaoYFyVxslVKhDClDFq+uoBl8/d5TcRzRIhQiAVR9kzKPDIHVhMaQMPIbT8NSDkzbDU=",
                            "ak.pv": "27",
                            "ak.dpoabenc": "",
                            "ak.tf": i
                        };
                    if ("" !== t) o["ak.ruds"] = t;
                    var r = {
                        i: !1,
                        av: function (n) {
                            var t = "http.initiator";
                            if (n && (!n[t] || "spa_hard" === n[t])) o["ak.feo"] = void 0 !== e.aFeoApplied ? 1 : 0, BOOMR.addVar(o)
                        },
                        rv: function () {
                            var e = ["ak.bpcip", "ak.cport", "ak.cr", "ak.csrc", "ak.gh", "ak.ipv", "ak.m", "ak.n", "ak.ol", "ak.proto", "ak.quicv", "ak.tlsv", "ak.0rtt", "ak.r", "ak.acc", "ak.t", "ak.tf"];
                            BOOMR.removeVar(e)
                        }
                    };
                    BOOMR.plugins.AK = {
                        akVars: o,
                        akDNSPreFetchDomain: a,
                        init: function () {
                            if (!r.i) {
                                var e = BOOMR.subscribe;
                                e("before_beacon", r.av, null, null), e("onbeacon", r.rv, null, null), r.i = !0
                            }
                            return this
                        },
                        is_complete: function () {
                            return !0
                        }
                    }
                }
            }()
        }(window);
    </script>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body class="page-category keyboard-focused" style="--closeImage: url(https://cdn.yellowmessenger.com/files/images/close.png);">
    <a name="top" id="top"></a>


    <header style="position: fixed;  left: 0; right: 0; z-index: 999;">
        <div class="header">
            <nav class="white main-nav header-primary">
                <div class="nav-wrapper">
                    <div class="sup-nav" style="padding-right:9px; margin-bottom: 3px;">
                        <img src="~/Content/img/call.png" style="height: 11px;">
                        <!--<span style="padding-right:10px;">01762410700 </span>-->
                        <span style="padding-right:10px;"> +91 -  9823607753</span>
                        <span>
                            <a style="padding-right: 0" class="dropdown-trigger" data-hover="true" data-beloworigin="true" data-target="dropdownpartner" data-constrainwidth="false">
                                Partner With Us <span class="caret"></span>
                            </a><ul id="dropdownpartner" class="dropdown-content partner" tabindex="0" style="">
                                <li style="margin-top: 5px" tabindex="0"><a target="_BLANK" href="https://docs.google.com/forms/d/e/1FAIpQLScPw-OEiQkqHUA_Jrhc6DBJgAsVgkI6u9RJDgK7x3-XBsyyBQ/viewform">Become a vendor</a></li>
                                <li style="margin-top: -2px" tabindex="0"><a target="_BLANK" href="/franchise">Become a franchisee</a></li>
                                <li style="margin-top: -2px" tabindex="0"><a target="_BLANK" href="/corporate">Corporate Gifts</a></li>
                            </ul>
                            <span class="caret"></span>
                            @*<img style="margin-right:10px;width: 10px" src="//assets.winni.in/img/down-arrow-header.png">*@
                        </span>
                        <a href="~/Customer/UserEvent" target="_BLANK">Customer Event</a>
                        <!--                    <a href="/corporate ">Corporate Order</a>-->
                        <a href="~/Feedback/UserFeedback">Feedback</a>


                    </div>
                    <div class="nav-center" style="height: max-content;">
                        <div class="row">
                            <div class="col 6" style="padding-left: 0;margin-top: 10px">
                                <a class="brand-logo bg-logo_home">
                                    <img src="~/Content/img/newlogo/logo-test-36-CL-1.png" style="border-bottom-style: solid;margin-top: -30px;" />
                                </a>
                            </div>
                            <div class="col l4" style="padding-left: 0px;padding-right: 0px;margin-left: -300px;">
                                <form class="category-search" action="/search" method="GET" autocomplete="off">
                                    <div class="input-field">
                                        <input id="txtCatName" class="search-input-desktop validate browser-default search-field" placeholder="Search for gifts" type="text" name="q" style="border: 2px solid transparent;background-color: #eae9e9bf;width: 100%;height: 40px;padding: 10px;color: #8f9196"
                                               required>
                                        <img class="search-icon-image" src="~/Content/img/search-icon.png">
                                        <div class="search-dropdown-by-category">
                                            <p class="popular-searches" style="font-size: 13px;margin-bottom: 0;color: #aba8a8bf">Popular Searches</p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col l6" style="padding-right: 0">
                                <ul class="right hide-on-med-and-down nav-options" style="margin-left: -190px;border-left-style: solid;border-left-width: 0px;">

                                    <li>
                                        <a href="#">
                                            <div class="left bg-express_delivery_1">
                                            </div>
                                            <div class="left" style="padding-left:4px;">
                                                <div style='font-size:13px;font-weight:700'>Delivery In</div>
                                                <div style="color:#ED217C; line-height: 16px;font-weight:700">
                                                    2 hours
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <span>
                                            <a class="dropdown-trigger" data-hover="true" data-belowOrigin="false" data-target="dropdownprofile" data-constrainWidth="false">
                                                <div class="left My-Profile">
                                                </div>
                                                <div class="left" style="padding-left:4px;">
                                                    <div style='font-size:13px;'>My</div>
                                                    <div style="color:#ED217C; line-height: 16px;">
                                                        Profile
                                                    </div>
                                                </div>
                                            </a>
                                            <ul id="dropdownprofile" class='dropdown-content profile-dropdown' style="padding: 0px 20px 8px 10px;">
                                                <div style="margin-top: 10px;text-align: left;border-bottom: 1px solid #f0f0f0;padding-bottom: 10px;padding-left: 7px">
                                                    <div style="text-align: left;font-weight: 600;font-size: 15px">Hello Mohan</div>
                                                    <div style="text-align: left;font-size: 15px">chander.moin</div>
                                                </div>
                                                <div style="padding-top: 5px;">
                                                    <div class="profile-dropdown-content" style="color: #3E4152;margin-bottom: 5px"><a href="/myuser-">My Profile</a></div>
                                                    <div class="profile-dropdown-content" style="color: #3E4152;margin-bottom: 5px"><a href="/my-orders/list">My Orders</a></div>
                                                    <div class="profile-dropdown-content" style="color: #3E4152;margin-bottom: 5px"><a href="/my-/saved-address">My Address Book</a></div>
                                                    <div class="profile-dropdown-content" style="color: #3E4152;margin-bottom: 5px"><a href="/my-/wallet">My Wallet</a></div>
                                                </div>
                                                <div style="padding-top: 5px;border-top: 1px solid #f0f0f0;">
                                                    <div class="profile-dropdown-content" style="color: #3E4152;margin-bottom: 5px">
                                                        <a class="pr-0" id="logoutFromProfile" href="javascript:;" data-uri="/customer/logout">Logout</a>
                                                    </div>
                                                </div>
                                            </ul>
                                        </span>
                                    </li>
                                    <li>
                                        <a class="hdr-choose-cty hdr-choose-cty-bg-white clearfix" href="#">
                                            <div class="left bg-location">
                                            </div>
                                            <div class="left" style="padding-left:4px;">
                                                <div style="font-size:13px;">Delivery In</div>
                                                <div style="color:#ED217C; line-height: 16px;">
                                                    <span class="capitalize-transform" id="current_city">Anjangaon</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="hdr-crt-qty">
                                        <a href="#" class="clearfix">
                                            <div class="left bg-cart">
                                            </div>
                                            <div class="left" style="padding-left:4px;">
                                                <div style='font-size:13px;'>Cart</div>
                                                <div style="color:#ED217C; line-height: 16px;">
                                                    <span id="cart_item"></span> items
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="header-secondary hide-on-med-and-down" style="margin-left: 170px;">
                <div class="nav-wrapper" style="margin-left: 190px;">
                    <div style="display:inline-block; display: none; padding-top:8px; margin-left:12px;" class="scroll-logo">
                        <a href="/">
                            <img src="//Content/img/newlogo/hearts-600x292-svgtopng.png" height="30">
                        </a>
                    </div>
                    <ul class="hide-on-med-and-down">
                        <li>
                            <a class="dropdown-trigger" data-hover="true" data-belowOrigin="true" data-target="dropdownsameday" href="~/Home/Index" data-constrainWidth="false">
                                <span style="font-weight: 700; font-size: 14px; color:#FF4136 !important; font-weight: bold; text-transform: uppercase;">Home</span>
                                <svg width="4.7" height="8" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="nav-down-caret">
                                    <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"></path>
                                </svg>
                            </a>
                            <ul id='dropdownsameday' class='dropdown-content multi-column-drop-menu' style='min-width:175px!important'>
                                <div class="row m-0 multi-column-menu">
                                    <div class="menu-column-title">Same Day Delivery</div>
                                    <ul>
                                        <li><a style="font-weight: 700; font-size: 13px; color:#333 !important; font-weight: bold;" href="#">Same Day Delivery </a></li>
                                        <li><a href="#">Cakes </a></li>
                                        <li><a href="#">Flowers </a></li>
                                        <li><a href="#">Plants </a></li>
                                        <li><a href="#">Combos </a></li>
                                        <li><a href="#">Gifts Same Day </a></li>
                                    </ul>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black">
                                CAKES
                                <span class="caret"></span>
                            </a>
                            <ul id='dropdownfsd' class="dropdown-menu" style="color:black; background-color:white; min-width: 970px !important; min-height: 500px !important; background-repeat: no-repeat; background-image: url('~/Content/img/new-home/cakes-img.jpg')">
                                <div class="row m-0 multi-column-menu" style="color:black;">
                                    <div class="col s2" style="width:18%!important">
                                        <div class="menu-column-title"> By Price</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Under 499 </a></li>
                                            <li class="list-element"><a href="#">500 to 599 </a></li>
                                            <li class="list-element"><a href="#">600 to 999 </a></li>
                                            <li class="list-element"><a href="#">1000 to 1999 </a></li>
                                            <li class="list-element"><a href="#">Above 2000  </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s2" style="width:18%!important">
                                        <div class="menu-column-title">Cakes By Type</div>
                                        <ul>
                                            <li class="list-element">
                                                <a href="~/Product/AllCakes" style="font-weight: 600; font-size: 14px;">All Cakes</a>
                                            </li>
                                            <li class="list-element"><a href="#">Best Seller Cakes</a></li>
                                            <li class="list-element"><a href="#">Photo Cakes</a></li>
                                            <li class="list-element"><a href="#">Pinata Cakes </a></li>
                                            <li class="list-element"><a href="#">Kids Cakes</a></li>
                                            <li class="list-element"><a href="#">Premium Cakes</a></li>
                                            <li class="list-element">
                                                <a href="#">Eggless Cakes</a>
                                            </li>
                                            <li class="list-element">
                                                <a href="#">Midnight Cakes</a>
                                            </li>
                                            <li class="list-element"><a href="#">Designer Cakes</a></li>
                                            <li class="list-element"><a href="#">Fondant Cake</a></li>
                                            <li class="list-element"><a href="#">CupCakes</a></li>
                                            <li class="list-element"><a href="#">Plum Cakes </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s2" style="width:20%!important">
                                        <div class="menu-column-title">Cakes By Flavour</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Chocolate Cakes</a></li>
                                            <li class="list-element"><a href="#">Red Velvet Cakes </a></li>
                                            <li class="list-element"><a href="#">Black Forest Cakes </a></li>
                                            <li class="list-element"><a href="#">Butter Scotch Cakes  </a></li>
                                            <li class="list-element"><a href="#">Truffle Cakes </a></li>
                                            <li class="list-element"><a href="#">Pineapple Cakes </a></li>
                                            <li class="list-element"><a href="#">Vanilla Cakes</a></li>
                                            <li class="list-element"><a href="#">Strawberry Cakes  </a></li>
                                            <li class="list-element"><a href="#">Fruit Cakes</a></li>
                                            <li class="list-element"><a href="#">White Forest Cakes</a></li>
                                            <li class="list-element"><a href="#">Kit Kat Cakes </a></li>
                                            <li class="list-element"><a href="#">Oreo Cakes </a></li>
                                            <li class="list-element"><a href="#">Mango Cakes </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s2" style="width:20%!important">
                                        <div class="menu-column-title">Cakes By Shape</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Heart Shape Cakes </a></li>
                                            <li class="list-element"><a href="#">Designer Cakes </a></li>
                                            <li class="list-element"><a href="#">Barbie Doll Cakes </a></li>
                                            <li class="list-element"><a href="#">Alphabet Cakes  </a></li>
                                            <li class="list-element"><a href="#">Number Cakes  </a></li>
                                            <li class="list-element"><a href="#">Wedding Cakes </a></li>
                                            <li class="list-element"><a href="#">Car Cakes</a></li>
                                            <li class="list-element"><a href="#">Cartoon Cakes</a></li>
                                            <li class="list-element"><a href="#">Minion Cakes </a></li>
                                            <li class="list-element"><a href="#">Unicorn Cakes</a></li>
                                            <li class="list-element"><a href="#">Tier Cakes</a></li>
                                            <li class="list-element"><a href="#">Spirderman cakes</a></li>
                                        </ul>
                                    </div>
                                    <div class="col s2" style="width:22%!important">
                                        <div class="menu-column-title">Cake By Occasion</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Birthday Cakes  </a></li>
                                            <li class="list-element"><a href="#">Anniversary Cakes  </a></li>
                                            <li class="list-element"><a href="#>First Birthday Cakes </a></li>
                                            <li class="list-element"><a href="#">First Anniversary Cakes  </a></li>
                                            <li class="list-element"><a href="#">25th Anniversary Cakes  </a></li>

                                        </ul>
                                    </div>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="~/Product/AllCakes" style="color:black">
                                PRODUCTS
                                <span class="caret"></span>
                            </a>
                            <ul id='dropdownflw' class='dropdown-menu' style='color: black; background-color: white; min-width: 850px !important'>

                                <div class="row m-0 multi-column-menu">
                                    <div class="col s3">
                                        <div class="menu-column-title">By Price</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Under 499</a></li>
                                            <li class="list-element"><a href="#">500 to 699 </a></li>
                                            <li class="list-element"><a href="#">700 to 999 </a></li>
                                            <li class="list-element"><a href="#">1000 to 1999 </a></li>
                                            <li class="list-element"><a href="#">Above 2000</a></li>
                                        </ul>
                                    </div>
                                    <div class="col s3">
                                        <div class="menu-column-title">By Type</div>
                                        <ul>
                                            <li>
                                                <a href="#" style="font-weight: 600; font-size: 14px;">All Flowers</a>
                                            </li>
                                            <li class="list-element"><a href="/flowers/best-sellers">Best Seller Flowers</a></li>
                                            <li class="list-element"><a href="#">Roses</a></li>
                                            <li class="list-element"><a href="#">Gerberas </a></li>
                                            <li class="list-element"><a href="#">Lilies </a></li>
                                            <li class="list-element"><a href="#">Orchids </a></li>
                                            <li class="list-element"><a href="#">Exotic Flowers </a></li>
                                            <li class="list-element"><a href="#">Carnations </a></li>
                                            <li class="list-element"><a href="#">Mixed Flowers </a></li>
                                            <li class="list-element"><a href="#">Basket Arrangements </a></li>
                                            <li class="list-element"><a href="#">Express Flowers Delivery </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s3">
                                        <div class="menu-column-title">By Color</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Red Flowers</a></li>
                                            <li class="list-element"><a href="#">Yellow Flowers </a></li>
                                            <li class="list-element"><a href="#">Purple Flowers </a></li>
                                            <li class="list-element"><a href="#">Pink Flowers </a></li>
                                            <li class="list-element"><a href="#">White Flowers </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s3">
                                        <div class="menu-column-title">By Occasion</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Anniversary Flowers</a></li>
                                            <li class="list-element"><a href="#">Birthday Flowers</a></li>
                                            <li class="list-element"><a href="#">Congratulation</a></li>
                                            <li class="list-element"><a href="#">I am Sorry </a></li>
                                            <li class="list-element"><a href="#">Love & Affection </a></li>
                                            <li class="list-element"><a href="#">Thank You </a></li>
                                            <li class="list-element"><a href="#">Get Well Soon </a></li>

                                        </ul>
                                    </div>
                                </div>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black">
                                SWEETS
                                <span class="caret"></span>
                            </a>
                            <ul id='dropdown1' class="dropdown-menu" style=" color: black; background-color: white; min-width: 850px !important">

                                <div class="row m-0 multi-column-menu">
                                    <div class="col s3">
                                        <div class="menu-column-title">By Price</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Under 799 </a></li>
                                            <li class="list-element"><a href="#">800 to 999 </a></li>
                                            <li class="list-element"><a href="#">1000 to 2000 </a></li>
                                            <li class="list-element"><a href="#">2000 to 3000 </a></liclass="list-element">
                                            <li class="list-element"><a href="#">Above 3000  </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s3">
                                        <div class="menu-column-title">Combos Cake</div>
                                        <ul>

                                            <li class="list-element"><a href="#" style="font-weight: 600; font-size: 14px;">Plum Cake Combos </a></li>
                                            <li class="list-element"><a href="#" style="font-weight: 600; font-size: 14px;">Valentine Combos </a></li>
                                            <li class="list-element"><a href="#">Best Seller Combos</a></li>
                                            <li class="list-element"><a href="#">Cake Combos </a></li>
                                            <li class="list-element"><a href="#">Cakes and Chocolates </a></li>
                                            <li class="list-element"><a href="#">Cakes and Teddies </a></li>
                                            <li class="list-element"><a href="#">Cakes and Flowers </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s3" style="padding-left: 12px;padding-right: 12px">
                                        <div class="menu-column-title">Combos Flower</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Flower Combos </a></li>
                                            <li class="list-element"><a href="#">Flowers and Chocolates</a></li>
                                            <li class="list-element"><a href="#">Flowers and Teddies </a></li>
                                        </ul>
                                    </div>
                                    <div class="col s3" style="padding-left: 15px;padding-right: 15px">
                                        <div class="menu-column-title">Combos By Type</div>
                                        <ul>
                                            <li class="list-element"><a href="#" style="font-weight: 700; font-size: 13px;">All Combos</a></li>
                                            <li class="list-element"><a href="#">Room full of flowers</a></li>
                                            <li class="list-element"><a href="#">Room full of Teddies</a></li>
                                            <li class="list-element"><a href="#">Express Combo Delivery </a></li>

                                        </ul>
                                    </div>
                                </div>

                            </ul>
                        </li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black">
                                CELEBRATE WITH US
                                <span class="caret"></span>
                            </a>
                            <ul id='dropdownocn' class='dropdown-menu' style="color:black; background-color:white;min-width:350px!important;">

                                <div class="row m-0 multi-column-menu">
                                    <div class="col s4">
                                        <div class="menu-column-title">Emotions</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Appreciation</a></li>
                                            <li class="list-element"><a href="#">Friends</a></li>
                                            <li class="list-element"><a href="#">Congratulation</a></li>
                                            <li class="list-element"><a href="#">Love & Affection</a></li>
                                        </ul>
                                    </div>
                                    <div class="col s4" style="padding-left: 12px;padding-right: 0px">
                                        <div class="menu-column-title">Festivals</div>
                                        <ul>
                                            <li class="list-element"><a href="#">Lohri</a></li>
                                            <li class="list-element"><a href="#">Makar Sankranti</a></li>
                                            <li class="list-element"><a href="#">Holi</a></li>
                                            <li class="list-element"><a href="#">Rakshabandhan </a></li>
                                            <li class="list-element"><a href="#">Diwali</a></li>
                                        </ul>
                                    </div>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="~/Home/Contact" style="color:black">
                                CONTACT
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="~/Home/About" style="color:black">
                                ABOUT US
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="hidden-div-for-fixed-header"></div>
    <div id="searchModal" class="modal">
        <div class="modal-content">
            <form action="/search" method="GET" autocomplete="off">
                <div class="row" style="margin-bottom:0;">
                    <div class="input-field col s9">
                        <input id="searchInp" type="text" class="validate" name="q">
                        <label for="searchInp">Search for gifts</label>
                    </div>
                    <div class="input-field col s3 center-align">
                        <button type="submit" class="btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>





    @RenderBody()


    <footer class="desktop">
        <div class="container" style="max-width: 100%;height:400px !important">
            <div class="row" style="max-width: 100%;padding-bottom:0px !important">
                <div class="col m6" style="margin:20px 0">
                    <div style class=" left">
                        <img style="height:100px!important;width:150px!important;" src="~/Content/img/newlogo/White Logo.png" />
                    </div>
                </div>
                <div class="col m4" style="float: right;font-size: 15px;">
                    Connect with Us
                    <div class="row">
                        <div class="col m2" style="margin-top: 20px;">
                            <a target="_BLANK" rel="nofollow" href="https://www.facebook.com/bhavnascakeakot">
                                <div class="bg-facebook">

                                </div>
                            </a>
                        </div>
                        <div class="col m2" style="margin-top: 20px;">
                            <a target="_BLANK" rel="nofollow" href="#">
                                <div class="bg-linkedin">

                                </div>
                            </a>
                        </div>
                        <div class="col m2" style="margin-top: 20px;">
                            <a target="_BLANK" rel="nofollow" href="https://www.instagram.com/bhavnas_cake_official/">
                                <div class="bg-instagram">
                                </div>
                            </a>
                        </div>
                        <div class="col m2" style="margin-top: 20px;">
                            <a target="_BLANK" rel="nofollow" href="https://www.youtube.com/channel/UCQEJcAGc3yYzAle4cDyTEyQ">
                                <div class="bg-youtube">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row links">
                <div class="col l3 s12" style="padding-left:50px;">
                    <ul>
                        <li><a href="~/Home/About">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Corporate Order</a></li>
                        <li><a href="#">Franchise Enquiry</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="~/Home/Contact">Contact Us</a></li>
                        <li><a href="#">Customer Reviews</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">Wishes</a></li>
                    </ul>
                </div>

                <div class="col l3 s12">
                    <ul>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Cancellation Policy</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var webAppLogin = {
                loginUriFooter: "/cs/customer/login",
            };
        </script>
    </footer>


    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/Pages/AddCategory.js"></script>

    <script src="~/Content/js/jquery.min.js"></script>

    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/jquery.timepicker.min.js"></script>
    <script src="~/Content/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/js/google-map.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/assets/js/thor/currency-65057b3e851321096df5090262d84d41.js"></script>
    <script src="~/Content/assets/js/thor/main-b906d965f158c336fb02d20c9f506ba7.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/accounting-0.4.2.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/dropzone-4.5.0.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/handlebars.min-v4.7.6.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/infinite-scroll-4.0.1.pkgd.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/jquery-3.5.1.min.js"></script>

    <script src="~/Content/coreast/constant/js/vnd/mailcheck-1.1.0.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/materialize-1.0.1.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/money-0.2.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/mzp-5.3.2.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/simple-lightbox-1.17.3.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/slick-1.8.1.min.js"></script>
    <script src="~/Content/coreast/constant/js/vnd/typeahead-0.11.1.js"></script>
    <script src="~/Content/js/2bootstrap.min.js"></script>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
