
@{
    ViewBag.Title = "AdminProductlist";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/ProductList.js"></script>

<h2 style="text-align:center;">Product List</h2>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"></h3>
        <nav aria-label="breadcrumb">

        </nav>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">All Products</h3>
                    <div class="col-sm-5">
                        <div class="col-sm-10">
                            <table id="tblProduct" border="1"class="table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th>ProductId</th>
                                        <th>ProductName</th>
                                        <th>CategoryId</th>
                                        <th>Price</th>
                                        <th>Size</th>
                                        <th>Unit</th>
                                        <th>ManufacturingDate</th>
                                        <th>ExpiryDate</th>
                                        <th>ProductPhoto</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

